<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/materialize.min.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
          <tr>
              <th>Sıra No</th>
              <th>Öğrenci Adı Soyadı</th>
              <th>Numarası</th>
              <th>Notu</th>
          </tr>
        </thead>

        <tbody id="out">

          <tr>
            <td>Sümeyye</td>
            <td>Akça</td>
            <td>16008118849</td>
            <td>100</td>
          </tr>
        </tbody>
    </table>
    <tr><b>ORTALAMA NOT:</b><span id="ort" ></span> </tr>
</body>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/fetchOgr.js"></script>
</html>