<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <!--navbar-->
    <nav>
      <div class="nav-wrapper" style="background-color: rgb(91, 82, 224)">
        <a href="#" class="brand-logo"
          >Engin Karatas Final</a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/components/login.html">Anasayfa</a></li>
        </ul>
      </div>
    </nav>
    <!--sidenav-->
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <!--
                  <img src="images/office.jpg" />
              -->
          </div>
          <a href="#user"><img class="circle" src="../images/engin.jpg" /></a>
          <a href="#name"><span class="white-text name">Engin Karatas</span></a>
          <a href="#email"
            ><span class="white-text email">contact@enginkaratas.com</span></a
          >
        </div>
      </li>
      <li>
        <a href="#!"><i class="material-icons">homepage</i>Anasayfa</a>
      </li>
    </ul>

    <!--content-->

    <div class="container" style="margin-top: 20px; margin-bottom: 20px">
      <h3>BOZOK:</h3>
      <p>
        Yozgat Bozok üniversitesi Mühendislik Mimarlık Fakültesi’nin
        bölümlerinden biri olan Bilgisayar Mühendisliği bölümü Yozgat Bozok
        Üniversitesi bünyesinde "Yozgat Bozok Üniversitesi Mühendislik-Mimarlık
        Fakültesi Bilgisayar Mühendisliği" adıyla kurulmuştur. 2016-2017 eğitim
        - öğretim yılı ile birlikte ilk öğrencilerini almıştır.
      </p>
      <img src="../images/engin.jpg" alt="">
    </div>
  </body>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/checkLogin.js"></script>
  <script src="/js/sidenav.js"></script>
</html>
